.eider {
    animation:
            nudgeEider 5s linear infinite alternate;
}
.patata {
    animation:
            nudgePatata 5s linear infinite alternate;
}
img {
    width: 100%;
}
.fons{
    width:auto;
}
body {
    margin: 0px;
    background-image: url("img/Background.jpg");
}

@keyframes nudgeEider {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 0);
    }
    80% {
        transform: translate(-50px, 0);
    }
}

@keyframes nudgePatata {
    0%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(55px, -55px);
    }
    15% {
        transform: translate(70px, -10px);
    }
    20% {
        transform: translate(-100px, -1px);
    }
    40% {
        transform: translate(-50px, -1);
    }
    70% {
        transform: translate(50px, 0);
    }
}
#btn{
    clear: both;
    z-index: 2;
    background-color: pink;
    font-family: Consolas;
    font-size: 50px;
    border-radius: 50px;
    padding: 10px;
    display: block;
    width: 35%;
    margin: 5px auto;
    min-width: 90px;
}