#flechaderecha{
  float:right;
}
/*main*/
#main{
 padding: 50px 150px 50px 150px;
 height: 500px;
}

.boton {
  width:250px;
  border-radius: 30%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

a:link {
 text-decoration: none;
}

/*capçalera*/
#capcalera {
 background-image: url("img/CapcaleraDefinitivaIncompleta.jpg");
 font-family: Consolas;
 text-align: center;
 padding: 50px 0 50px 0;
}
#titol {
 font-size: 50px;
}
#subtitol {
 font-size: 25px;
}

/*menu cal mirar, hi ha que no funcionen*/
/*cos*/
body {
 font-family: Arial;
 margin: 0;
 /*fons*/
 background-image: url("img/SoftBackground.jpg");
 background-size: cover;
 background-attachment: fixed;


}
p {
 text-align: justify;
}
.titol_apartat {
 font-size: 50px;
}
section, .menu{
 background: rgba(255, 255, 255, 0.5);
 padding: 10px 20px 10px 20px;
 margin: 10px 0 20px 0;
 border-radius: 20px;
}

/*personatges*/
#eiderdesc {
    background-image: url("img/eiderdesc.png");
    height: 156px;
    width: 188px;
    float: left;
    margin: 0 10px 0 0;
}
#potatodesc {
    background-image: url("img/patatadesc.png");
    height: 136px;
    width: 157px;
    float: right;
    margin: 0 0 0 10px;
}

/*foto mode joc*/
#eiderWorld {
  background-image: url("img/eiderworld.png");
  width: 900px;
}


/*slider fotos Art*/
.mySlides {
   height: 350px;
   margin-left: auto;
   margin-right: auto;
}

#slide{
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
}



#foto_historia {
 background-image: url("img/https___vignette.wikia.nocookie.net_fantendo_images_1_15_Grass_BG.png_revision_latest_cb=20130708010135");
 height: 300px;
 background-position: center;
}
/*Fotos About Us*/
#alex,#laia,#jud{
  padding: 15px;

}
#fotoJud {
 background-image: url("img/AvatarJud.png");
}
#fotoAlex {
 background-image: url("img/AvatarAlex.png");
 clear: both;
}
#fotoLaia {
 background-image: url("img/AvatarLaia.png");
 clear: both;
}
.avatar {
 height: 100px;
 width: 100px;
 float: left;
 background-repeat: no-repeat;
 margin-right: 10px;
}
#jud, #laia, #alex {
 margin-top: 10px;
 margin-bottom: 10px;
 clear: both;
 text-align: justify;
}


/*boto*/
#myBtn {
 display: none;
 position: fixed;
 bottom: 20px;
 right: 30px;
 z-index: 99;
 font-size: 18px;
 border: none;
 outline: none;
 background-color: black;
 color: white;
 cursor: pointer;
 padding: 15px;
 border-radius: 4px;
}
#myBtn:hover {
 background-color: #555;
}


/*footer*/
#footer{
 text-align:center;
}

/* redes sociales */
.fa {
 padding: 20px;
 font-size: 30px;
 width: 30px;
 text-align: center;
 text-decoration: none;
 border-radius: 40%;
 margin-bottom: 20px;

}

.fa:hover {
 opacity: 0.7;
}

.fa-facebook {
 background: #3B5998;
 color: white;
}

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-google {
 background: #dd4b39;
 color: white;
}

.fa-youtube {
 background: #bb0000;
 color: white;
}

.fa-instagram {
 background: #125688;
 color: white;
}


/*canvi de mida*/
@media (max-width: 700px) {
 #main {
     padding: 50px;
 }
}


.grande{
width:max;
}
