@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
   font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

/*Fons */
body{
   background-image: url("img/SoftBackground.jpg");
   background-size: cover;
   background-attachment: fixed;
   height: auto;
}
/*amplada del formulari*/
.container {
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
   position: relative;
}

/*areas de dades*/
#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
   font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

/*cuadrat del formulari*/
#contact {
   background: #F9F9F9;
   padding: 25px;
   margin: 100px 0;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* titol del formulari*/
#contact h3 {
   display: block;
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 10px;
}

#contact h4 {
   margin: 5px 0 15px;
   display: block;
   font-size: 13px;
   font-weight: 400;
}
/*cuadrats*/
fieldset {
   border: medium none !important;
   margin: 0 0 10px;
   min-width: 100%;
   padding: 0;
   width: 100%;
}
/*forma del cuadrats*/
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
   width: 100%;
   border: 1px solid #ccc;
   background: #FFF;
   margin: 0 0 5px;
   padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
   -webkit-transition: border-color 0.3s ease-in-out;
   -moz-transition: border-color 0.3s ease-in-out;
   transition: border-color 0.3s ease-in-out;
   border: 1px solid #aaa;
}
/*amplada del text area*/
#contact textarea {
   height: 100px;
   max-width: 100%;
   resize: none;
}
/* boto*/
#contact button[type="submit"] {
   cursor: pointer;
   width: 100%;
   border: none;
   background: #4CAF50;
   color: #FFF;
   margin: 0 0 5px;
   padding: 10px;
   font-size: 15px;
}

#contact button[type="submit"]:hover {
   background: #43A047;
   -webkit-transition: background 0.3s ease-in-out;
   -moz-transition: background 0.3s ease-in-out;
   transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* pluja patata-eider */
.container_snow{
   width:100%;
   height:100%;
   position: absolute;
/*    background:linear-gradient(#1A76BE,#0063B1);*/
}
.container_snow{
   background-image: url('img/snow1.png'), url('img/snow2.png');
   animation: snow 20s linear infinite;
   top: 0px;
   background-size: 600px;
}
@keyframes snow {
   0% {background-position: 0px 0px, 0px 0px/*, 0px 0px*/;}
   100% {background-position: 500px 1000px, 400px 400px/*, 300px 300px*/;}
}
